* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.containerProfile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1a50898e;
    padding: 15px 25px 30px;
    border-radius: 5px;
}

.input-profile{
    width: 100% !important;
    padding: 10px;
    border: #ddd 1px solid;
    border-radius: 5px;
    font-family: inherit;
    font-size: inherit;
}

.btn_containeProfile{
    display: flex;
    justify-content: center;
    align-items: center;
   padding: 1rem; 
}