/* Formateamos al inicio */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  body {
    background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
  }
  
  h1 {
    background-color: aquamarine;
  }
  
  .content {
    background-color: blue;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
    background-size: 50%;
    background-attachment: fixed;
  }