* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Segoe UI", Tahoma, Verdana, sans-serif;
  font-style: normal;
  font-size: small;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"),
    url(https://themes.googleusercontent.com/static/fonts/roboto/v9/Xyjz-jNkfiYuJf8UC3Lizw.woff)
      format("woff");
  
    & main {
    padding-top: 20vh;
    min-height: 90vh;
    padding-bottom: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    } 
    & #app {
    min-height: 100vh;
    }
    & body {
    transition: ease-in-out 0.2s;
  }
    & .container {
      display: flex;
      border-radius: 10px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @media (max-height: 855px) {
        flex-direction: row;
      }
      
    }
      & .containerWording {
        background-color: #7b339b;
        color: white;
        text-align: center;
        border-radius: 10px;
        width: 55vw;
        margin-bottom: 1rem;
        
      }
    }
  

